/* About.css */
/* About.css */

.about-section {
   
    padding: 40px;
    text-align: center;
    background-color: #e8eff1;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .about-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .about-image {
    width: 200px; /* Adjust the width to your desired size */
    height: 200px; /* Adjust the height to your desired size */
    object-fit: cover;
    border-radius: 60%;
    margin-bottom: 20px;
  }
  
  .about-text {
    
  min-width: 300px; /* Set a minimum width that works for your content */
  max-width: 800px; /* Set a maximum width if you want to limit expansion */
  margin-top: 20px;
  width: 80%; /* Optional: You can use a percentage to control the width */
  text-align: center; /* Center-align the text */
  }
  
  /* Add media queries to adjust the layout for different screen sizes */
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
    }
  }
  
  


.about-links {
    font-size: 1rem;
    display: flex;
    gap: 40px;
    margin-top: 30px;
    justify-content: center; /* Center-align the links horizontally */
  

    
    
  }
  
  .about-links a {
    text-decoration:none;
    color: #0077b5; /* LinkedIn blue color */
    font-weight: bold;
  }
  
  .about-links a:hover {
    text-decoration: underline;
  }

