/* Projects.css */

#projects {
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}


.projects-title {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

.project-description {
  font-size: 1rem;
  color: #333;
  padding-top: 0 ;
  margin:0;
  
}

  

 
.project1-details{
    border: 3px solid #ddd;
    padding: 25px;
    margin: 20px;
    background: url(../images/BattleKnights.jpeg) no-repeat center center ; 
    background-size:cover;
    background-color: #488da0; /* Remove the default background color */
    color: #333;
    font-weight: 600;
}

.project-cards{
    font-size: 1.2rem;
    color: #333; /* Set the text color to white */
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flexbox;
    justify-content:left;
    width:30%; /* Set a fixed width */
    height: 30%; /* Set a fixed height */
    min-width: 250px;
    max-width: 300px;

}


.project-cards h4{
  margin:auto;
  padding:0;
}
 
.project2-details{
    border: 3px solid #ddd;
    padding: 20px;
    margin: 20px;
    background: url(../images/emos.jpeg) no-repeat center center ; 
    background-size:cover;
    background-color: #488da0; /* Remove the default background color */
    color: #333;
    font-weight: 600;
}


.project2-details a,
.project1-details a {
    text-decoration: none;
    color: #333; /* Link color */
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.2s; /* Smooth color transition on hover */
    background-color: #e8eff1; /* Background color for the link */
    /* padding: 5px 15px; Add padding to make the link stand out */
    border-radius: 5px; /* Add rounded corners */
   
  }
  
  .project2-details a:hover,
  .project1-details a:hover {
    color: #0056b3; /* Color change on hover */
    background-color: #d4e3f5; /* Background color on hover */
  }
  
  
  
  

  
 